/* ConsultingServices.css */

.consulting-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    /* border: 1px solid #e0e0e0; */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* background-color: #fff; */
  }
  
  .consulting-image img {
    width: 100%;
    height: auto;
    max-width: 300px;
    border-radius: 8px;
    margin-right: 20px;
  }
  
  .consulting-content {
    flex: 1;
  }
  
  .consulting-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .consulting-content p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .explore-button {
    background-color: #ffcc33;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
  }
  
  .explore-button:hover {
    background-color: #e6b800;
  }
  
  @media (max-width: 768px) {
    .consulting-container {
      flex-direction: column;
      text-align: center;
    }
  
    .consulting-image {
      margin-bottom: 20px;
    }
  }
  
  #banner_bg{
    background-image: url('../images/new_images/cto\ homepage\ background.png');
  }